body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Alterado para ocupar maior parte da tela */
    max-width: 200px; /* Definindo uma largura máxima */
}

input[type="email"],
input[type="password"],
button {
    display: block;
    width: 180px;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width:205px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    font-size: 24px; /* Reduzindo o tamanho do título */
    margin-bottom: 20px; /* Adicionando um espaçamento inferior */
}